body,
body p {
    font-family: 'Roboto', sans-serif !important;
    color:#000 !important;
    font-size:18px !important;
}
a.sidebar-link {
    font-family: 'Roboto', sans-serif !important;
   
}
a.sidebar-link.active {
    font-family: 'Roboto', sans-serif !important;

}
.legende {
    font-size:16px !important;
    color:#999 !important;
}
p, ul, ol {
    line-height: 1.6 !important;
}
a {
    
}
h2 {
    font-size: 1.8rem !important;
    padding-bottom: 0.3rem !important;
    border-bottom: 1px solid #eaecef;
    color:#000;
}

.navbar .site-name {
    font-size: 1.6rem !important;
    font-weight: 800 !important;
    color:#000 !important;
    position: relative !important;
   
}

aside.sidebar {
    background:#f9f9f9 !important;
}

header.navbar .nav-links a {
    color:#000 !important;
    text-transform:uppercase !important;
}
.sidebar-heading {
    color: #000000 !important;
    transition: color 0.15s ease !important;
    cursor: pointer !important;
    font-size: 1.1em !important;
font-weight: 600 !important;
    padding: .5rem 1.5rem .5rem 1.25rem !important;
    width: 100% !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    border-bottom: 1px solid #ddd !important;
    
  

}
.sidebar-group:not(.first) {
    margin-top: 0 !important;
}
/*
.sidebar-links li:last-child .sidebar-heading {
   border-bottom:none !important;
}
.sidebar-links li:last-child .sidebar-heading.open {
    border-bottom: 1px solid #ddd !important;
 }
.sidebar-heading.open {
    color: #000000 !important

}*/
    
.sidebar-group a.sidebar-link,
.sidebar  {
    color:#000000 !important;
}
a.sidebar-link.active {
    color: #3eaf7c !important;
}
.sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: 0 !important;
  
}
.sidebar > .sidebar-links > li {
  font-weight:400 !important;
  
}

.sidebar-group a.sidebar-link {
    padding: 0.25rem 1rem 0.25rem 1.8rem !important;
}
.sidebar-group-items li:first-child a.sidebar-link {
    padding-top:.75rem !important;
}
.sidebar-group li:last-child a.sidebar-link {
   padding-bottom:1rem !important;
}
.sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: 0 !important;
}
.sidebar-group-items li.sidebar-sub-header a.sidebar-link {
    padding-top: 0 !important;
    padding-left: 2rem !important;
    color: #666 !important;
 
}
.sidebar-group-items li.sidebar-sub-header a.sidebar-link.active {
    color:#333 !important;
}
.search-box {
    margin-right:2rem !important;
}
iframe {
    border: none !important;
   /*border-radius:5px !important;*/
   margin:1.2rem 0;

}
.suggestions li {
    background:white !important;
  }
  .suggestions li.focused a {
    color:#3eaf7c !important;
  }
  .suggestions li:hover {
    color:#3eaf7c !important;
    background:white !important;
  }
  .suggestions li:hover a {
  background:white;
    color:#3eaf7c !important;
  }
  .suggestions li a {
    color:black !important;
  }

